$xs: new-breakpoint(min-width em(280) 4);
$s: new-breakpoint(min-width em(481) 6);
$m: new-breakpoint(min-width em(641) 8);
$xm: new-breakpoint(min-width em(733) 8);
$l: new-breakpoint(min-width em(961) 12);

$column: 90px;
$gutter: 8px;
// $grid-columns: 12;
$max-width: em(960);


$visual-grid: false;
// $visual-grid: false;
$visual-grid-color: firebrick;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;
