/**
 * Computes a top-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
/**
 * Computes a bottom-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
/**
 * Gives a card depth effect.
 *
 * @param {Number} $depth - depth level (between 1 and 5)
 *
 * @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
 *
 * @requires {function} top-shadow
 * @requires {function} bottom-shadow
 */
/* line 1, C:\OpenServer\domains\nosrc/scss/html */
* {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/* line 5, C:\OpenServer\domains\nosrc/scss/html */
html {
  font-size: 16px;
  font-family: arial, ​sans-serif;
  -webkit-transform: all 0.2s ease-in 0s;
  -ms-transform: all 0.2s ease-in 0s;
  transform: all 0.2s ease-in 0s;
  position: relative;
  padding-top: 2em;
  margin: 0 auto;
  width: 555px;
  height: 200%;
  background-color: #F0F0F0;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 25, C:\OpenServer\domains\nosrc/scss/html */
  html:before {
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    width: 50px;
    height: 50px;
    top: 200px;
    background-color: wheat; }
  /* line 41, C:\OpenServer\domains\nosrc/scss/html */
  html:after {
    content: "ss";
    display: block;
    position: absolute;
    left: 100%;
    width: 50px;
    height: 50px;
    top: 220px;
    background-color: firebrick; }

/* line 1, C:\OpenServer\domains\nosrc/scss/head */
head {
  position: relative;
  display: block; }
  /* line 8, C:\OpenServer\domains\nosrc/scss/head */
  head:after {
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 555px;
    padding: 20px;
    top: 200px;
    clear: left;
    background-color: white;
    content: "Emotional intelligence (EI) is the ability to monitor one's own and other people's emotions, to discriminate between different emotions and label them appropriately, and to use emotional information to guide thinking and behavior.";
    line-height: 1.225em; }

/* line 1, C:\OpenServer\domains\nosrc/scss/body */
body {
  width: 100%;
  height: 100%; }
  /* line 6, C:\OpenServer\domains\nosrc/scss/body */
  body:before {
    content: "Lorem ipsum.";
    position: absolute;
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    z-index: -1000;
    top: 600px;
    left: 700px; }
  /* line 13, C:\OpenServer\domains\nosrc/scss/body */
  body:after {
    content: "Lorem ipsum Lorem ipsum dolor.";
    position: absolute;
    -webkit-transform: translateZ(0.5px) scale(0.5);
    transform: translateZ(0.5px) scale(0.5);
    z-index: 500;
    top: 600px;
    left: 140px;
    font-size: 2em; }

/* line 13, C:\OpenServer\domains\nosrc/scss/parallax */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

/* line 21, C:\OpenServer\domains\nosrc/scss/parallax */
body {
  overflow: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  /* line 31, C:\OpenServer\domains\nosrc/scss/parallax */
  body, body * {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
